{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #}
{% extends 'layouts/application.html' %}
{% block content %}
<div class="article-container">
    <div class="textBlock-box  img-box">
        <div class="wrapper-round img-expand">
            <img src="images/Boguslavets.jpg" alt="Image of Boguslavets Church">
        </div>
    </div>
    <div class="textBlock-box a-text">
        <div class="wrapper-round ">
            <p>     
                Boguslavets. This is a very interesting name. It means Glory to God. 
                During the years of the USSR, many villages, some towns and many roads were given Russian names. 
                This village name was never changed. 
                It was in the late 1990s that we were invited to meet a group of teachers in the village school. 
                We got to know them quite well. In God’s timing a man from Cherkassy, who has family connections in the village, asked UCM to help him plant a church in Boguslavets. 
                He returned with his family to live in the village. 
                With the Lord’s help, our friend worked hard and villagers joined him for Sunday worship and a church was registered there. 
                UCM continued supporting them and helped to build the church, to have Holiday Bible Clubs for the village children. Our friend is the Pastor in Boguslavets Church; 
                he also works in Lukashivka and Zorivka, two other villages nearby. There is only a small membership in Boguslavets Church, 
                and during the special children’s events in the summer and at Christmas time, members and friends come from other churches to help and support them. 
                UCM continue to sponsor these events.
            </p>
        </div>
    </div>
</div>
{% endblock %}