{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #}
{% extends 'layouts/application.html' %}
{% block content %}
<div class="article-container">
    <div class="textBlock-box  img-box">
        <div class="wrapper-round img-expand">
            <img src="images/Chapaivka Church.jpg" alt="Blagodatne Church Pic">
        </div>
    </div>
    <div class="textBlock-box a-text">
        <div class="wrapper-round ">
            <p>     
                The time came when a man made his way to Zolotonosha Church, during the service he heard the Gospel and repented. 
                He returned home to Chapaivka. He talked to his family and friends about his new found faith. 
                They listened and some also became Christians. Soon a church was registered in the village of Chapaivka. 
                This village was renamed in 2017 as Blagodatne. Blagodatne is quite a big village, especially in the summer months when the ‘Datchas’ (summer cottages) are lived in. 
                UCM were soon in contact with the new Church in 1997 and became involved with helping to establish it in the village as it grew numerically. 
                In the course of time land was purchased and a church building was constructed.
                <br>
                Much of the UCM work nowadays is based in the Blagodatne area. 
                There a three daughter churches nearby. The Pastor of this church is the man who found his way to Zolotonosha and became a Christian. 
                He is a former drug addict, whose life God turned around completely. In addition to his work in Blagodatne, he is the senior Zolotonosha District Pastor. 
                Blagodatne now has a second Pastor. The church has a thriving Youth work, Sunday School and Ladies Prayer group. 
                Through the years UCM have sponsored an annual Youth Camp under canvas and Holiday Bible Clubs in the surrounding villages. 
                The young leaders are Ukrainians, ‘home grown and trained locally for this work’. 
                Many of these same young leaders prepare themselves to visit the villages once again at Christmas time for a special children’s outreach programme, 
                where there will be a Christmas Nativity Drama, Fun and games for the children and gift for every child who attends and a Calendar for all adults. 
                Once again this is sponsored by UCM.
            </p>
        </div>
    </div>
</div>
{% endblock %}