{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #}
{% extends 'layouts/application.html' %}
{% block content %}
<div class="article-container">
    <div class="textBlock-box  img-box">
        <div class="wrapper-round img-expand">
            <img src="images/Mar 18 Denroof4.jpg" alt="Denghi Church">
        </div>
    </div>
    <div class="textBlock-box a-text">
        <div class="wrapper-round ">
            <p>     
                There is a small group in this village which has been meeting every Sunday for several years. 
                They meet for worship and Bible study. Through the years they have prayed that they could have their own building, for a church.  
                God has heard their prayers and answered. Praise the Lord land has been purchased and building work has begun.  
                As well as Sunday services, for several years there has been a children’s Holiday Bible Club in the village, 
                to which many children come and is usually held on the village school site. 
                There is land around the new Church building for such children’s activities. 
                A young man from Blagodatne church has been ‘set apart and dedicated’ to lead the mission work in Denghi.
        </div>
    </div>
</div>
{% endblock %}