{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #}
{% extends 'layouts/application.html' %}
{% block content %}
<div class="article-container">
    <div class="textBlock-box  img-box">
        <div class="wrapper-round img-expand">
            <img src="images/www.KG2.jpg" alt="Korobivka Church">
        </div>
    </div>
    <div class="textBlock-box a-text">
        <div class="wrapper-round ">
            <p>     
                Kadena Gora is a small village not far from the River Dnieper and another daughter church of Blagodatne. 
                The small cottage was purchased and used as their ‘House of Prayer’. 
                A young man is now the leader of this Church who has vision, energy and enthusiasm to take the church through the next phase in its life. 
                The building has recently been through a reconstruction programme and, now in its final stages. 
                Although the membership of the church is small they work hard and serve the Lord faithfully. 
                The work among the children is flourishing, especially the Summer Holiday Bible Clubs, 
                when numbers of children in the village swells as many come to the village to spend the long school holidays with Grandparents.
            </p>
        </div>
    </div>
</div>
{% endblock %}