{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #}
{% extends 'layouts/application.html' %}
{% block content %}
<div class="article-container">
    <div class="textBlock-box  img-box">
        <div class="wrapper-round img-expand">
            <img src="images/Koro Oct17.jpg" alt="Korobivka Church">
        </div>
    </div>
    <div class="textBlock-box a-text">
        <div class="wrapper-round ">
            <p>     
                Korobivka Church is one of three daughter churches of Blagodatne Church. 
                This village church began by meeting in a small, old cottage, which they rented as their ‘House of Prayer’. 
                As the church grew in numbers, this was too small. 
                After they purchased the cottage and land around it, they asked for permission from the local authority to construct a new building.  
                After this was refused, permission was given to extend and build over and around the existing cottage. 
                When they had built the new exterior walls, they then removed the old building. 
                With support from UCM, this work has been continuing through the past few years, as the finance has come in. 
                It is coming along well, with work still to be done inside to make a small kitchen, a toilet and finishing a Sunday school room. 
                Almost always the building, reconstructing work, 
                maintenance of our village churches is done by members of the local church, with help from other church members from time to time.
            </p>
        </div>
    </div>
</div>
{% endblock %}