{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #}
{% extends 'layouts/application.html' %}
{% block content %}
<div class="article-container">
    <div class="textBlock-box  img-box">
        <div class="wrapper-round img-expand">
            <img src="images/Krasnogorka outside.jpg" alt="Krasnogorka Baptist Church From The Inside">
        </div>
    </div>
    <div class="textBlock-box a-text">
        <div class="wrapper-round ">
            <h3>
                Krasnogorka, our 2nd church in the Zolotonosha area
            </h3>
            <p>     
                In the early years UCM were pleased to help support the village Church in Krasnogorka. 
                This church used to meet in secret during the years of the oppression.  
                In the early 1990s, the church would meet outdoors in the summer months, under a walnut tree. 
                This is when we first met with them, and got to know many wonderful believers who told us amazing 
                stories of the Lord’s faithfulness throughout many difficult years. 
                They were donated a piece of land and began to build their ‘House of Prayer’, trusting the Lord to provide for them to enable this to happen. 
                It was a privilege for UCM to help them in this project and then to attend the opening and dedication in September 1996. 
                In 2014 we went to the special 100th Anniversary service and this small village, way out from any town, continues to work and witness for the Lord. 
                At this anniversary service many prayers were answered when the youngest of three grandsons of one of the long standing families 
                in the Church gave his heart and life to the Lord.
            </p>
        </div>
    </div>
</div>
{% endblock %}