{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #}
{% extends 'layouts/application.html' %}
{% block content %}
<div class="article-container">
    <div class="textBlock-box  img-box">
        <div class="wrapper-round img-expand">
            <img src="images/Oct Luka Harv3.jpg" alt="Lukashivka Church, inside">
        </div>
    </div>
    <div class="textBlock-box a-text">
        <div class="wrapper-round ">
            <h3>
                Lukashivka Church
            </h3>
            <br>
            <p>     
                The Pastor from Boguslavets has responsibility for the ministry at Lukashivka Church at the moment. 
                In August 2017 many people attended a service of dedication, after the rebuilding and reconstruction of the cottage which had been purchased in the village. 
                It is good to know that many children come along to the weekly activity especially for them, which is held there now. 
                This is led by a couple who live in the village. 
            </p>
        </div>
    </div>
</div>
{% endblock %}