{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #}
{% extends 'layouts/application.html' %}
{% block content %}
<div class="article-container">
    <div class="textBlock-box">
        <div class="wrapper-round img">
            <img src="images/Zolo-Baptist-Church.jpg" alt="Zolotonosha Baptist Church Pic">
        </div>
    </div>
    <div class="textBlock-box">
        <div class="wrapper-round">
            <p>     
                April 1993 The first visit made to Ukraine. 
                For the opening and dedication of Zolotonosha Baptist Church. 
                Since the fall of the Iron Curtain in 1992, the church members were keen to have their own Church building, this is also very often called the ‘House of Prayer’ 
                Our early visits to Ukraine were to Zolotonosha, and during the years we saw the church growing numerically, 
                people often travelling many miles each Sunday from the surrounding villages. 
                During these visits it was very evident that many people were in great need materially as well as spiritually. As UCM was established,  
                I John 3 verse 18 became our Mission Statement ‘Our love should not be just words and talk: it must be true love which shows itself in action.
                <br>
                <br>
                UCM have a twofold aim ‘Reaching the People’  ‘Meeting the need’
            </p>
        </div>
    </div>
</div>
{% endblock %}