

.textBlock-box {
    padding: $spacer-sm $spacer;
    width: 100%;
    .wrapper-round {
        padding: $spacer;
        display: block;
        background-color: $c-light;
        text-align: center;
    }
}
