.info-list {
    h2 { 
        @include visuallyhidden;
    }
}

@include mq($bp-xxl) {
    .article-container {
        p {
            font-size: 20px;
        }
        h3 {
            font-size: 25px;
        }
    }
}

@include mq($bp-lg) {
    .info-list {
        .info-list__inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
    