html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
}

.content {
  background-color: $c-primary;
  flex: 1 0 auto;
}

img {
  display: block;
  width: 100%;
}

h1,
p,
blockquote {
  margin: 0;
}

.wrapper-round {
  border-radius: 1rem;
  overflow: hidden;
}