html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $c-primary;
}

.body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

img {
  display: block;
  width: 100%;
}

h1,
p,
blockquote {
  margin: 0;
}

.wrapper-round {
  border-radius: 1rem;
  overflow: hidden;
}

@include mq($bp-lg){
  .body {
    .header {
      position: fixed;
      left: 0;
      top: 0;
      width: 15rem;
      height: 75vh;
      border-radius: 1rem;
      margin: 1rem;
      overflow: hidden;
    }

    >div {
      padding-left: 16rem;
    }
  }
}