$promos-per-row: 3;

.article-promo {
    padding: $spacer-sm $spacer;

    img {
        transition: transform 250ms ease-in-out;
    }
    
    a {
        display: block;
    }

    .overlay {
        margin: 0;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        .overlay-panel {
            // background-color: rgba($c-dark, 0.8);
            // background: linear-gradient(235deg, rgba($c-dark, 0) 0%, $c-dark 100%); 
            color: $c-light;
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: auto;
            text-decoration: none;
            padding: 2rem 0.5rem;
        }
    }

    &:hover,
    &:focus {
        a {
            border: $spacer-xs solid $c-light;
            border-radius: 1rem;
            overflow: hidden;
        }

        img,
        .overlay {
            border-radius: 0;
        }

        .overlay {
            .overlay-panel {
                // background-color: rgba($c-dark, 0.8);
                // background: linear-gradient(235deg, rgba($c-dark, 0.4) 0%, $c-dark 100%); 
            }
        }

        img {
            transform: scale(1.1);
        }
    }
}

@include mq($bp-lg) {
    .article-promo {
        width: 100% / $promos-per-row;
    }
}