.nav-lightBox {
    display: none;
}

.header-nav:hover {
    background-color: blue;
    .nav-lightBox {
        display: block !important;
        position: fixed;
        width: 100vw;
        height: 100vh;
        text-align: center;
        top: 0;
        left: 0;
        background: rgba(0,0,0,1);
    }
}