{% from 'macros/helpers.html' import sprite %}
{% from 'macros/article-promo.html' import articlePromo %}
<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <link rel="stylesheet" href="stylesheets/app.css">
  <meta name="viewport" content="width=device-width, initial-scale=1"> {% include "shared/app-icons.html" %} {% block head %}{% endblock %}
</head>

<body class="body">

  {% include "shared/header.html" %}

  <div>
    <main class="content">
      {% block content %} {% endblock %}
    </main>
    {% include "shared/footer.html" %} 
  </div>
{% block javascript %}
  <script src="javascripts/app.js"></script> {% endblock %}
</body>

</html>